body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.0;
    margin: 0;
    padding: 0;
    background-color: rgb(219, 187, 249);
    color: white;
}

header {
    background: rgb(112, 112, 154);
    color: rgb(255, 255, 255);
    padding: 2rem;
    text-align: center;
}

nav {
    line-height: 1.5;
    font-size: medium;
    background: rgb(1, 1, 66);
    padding: 1rem;
    text-align: left;
    text-align: center;
}

main {
    line-height: 1.2;
    font-style: normal;
    font-weight: 400;
    background: rgb(210, 188, 250);
    color: black;
    padding: 1rem;
    text-align: left;
}

footer {
    font-size: xx-small;
    font-style:italic;
    color: rgb(79, 71, 80);
    padding: 2rem;
}